@import url(../../index.css);

.container-gamescreen {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.737);
}

.container-gamescreen .box-dashboard {
    width: 100vw;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #00aaff90;
    background: linear-gradient(to bottom,#00ccff25, #00aaff7c );
}

.container-gamescreen .box-dashboard div:nth-child(1),
.container-gamescreen .box-dashboard div:nth-child(2),
.container-gamescreen .box-dashboard div:nth-child(3) {
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container-gamescreen .box-dashboard div span:nth-child(1) {
    width: 100%;
    text-align: center;
    font-size: 2em;
    color:  #fff;
    filter: drop-shadow(2px 2px 1px #02418d);
    text-align: center;
}


.container-gamescreen .box-dashboard div span:nth-child(2) {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    font-size: 2em;
    font-weight: 700;
    color: #fff04d;
    text-shadow: 2px 2px 5px #984200;
    font-family: var(--font);

}

.container-gamescreen .container-game {
    width: 100vw;
    height: calc(100vh - 150px); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px; 
    box-sizing: border-box; 

}

.container-gamescreen .container-game .box-game {
    display: grid; 
    gap: 10px; 
    height: auto; 
    width: 90vw;
    max-width: 600px;
    align-items: center;
    justify-content: center;
    padding: 20px; 
    box-sizing: border-box; 

}


.container-gamescreen .container-game .box-game.grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.container-gamescreen .container-game .box-game.grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.container-gamescreen .container-game .box-game .card {
    background-color: #ddd;
    border-radius: 8px;
    cursor: pointer;
    aspect-ratio: 1 / 1; 
    position: relative;
    perspective: 1000px; 
}

.container-gamescreen .container-game .box-game .card .card-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.container-gamescreen .container-game .box-game .card.flipped .card-inner {
    transform: rotateY(180deg);
}

.container-gamescreen .container-game .box-game .card .card-front,
.container-gamescreen .container-game .box-game .card .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 2em;
    user-select: none; 
}

.container-gamescreen .container-game .box-game .card .card-front {
    background: url(../../assets/img/memory-game.png) no-repeat center;
    background-size: contain;
    color: #333;
    z-index: 2; 
}

.container-gamescreen .container-game .box-game .card .card-back {
    background-color: #4CAF50;
    color: #fff;
    transform: rotateY(180deg); 
    z-index: 1;
}

.container-gamescreen .container-game .box-game .card.matched .card-inner {
    transform: rotateY(180deg); 
    opacity: 0.7;
}

.container-gamescreen .container-game .box-game.grid-cols-4 .card .card-back {
    font-size: 1.5em;
}


.container-game .game-over-message {

    width: 100vw;
    height: calc(100vh - 150px); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px; 
    box-sizing: border-box;
    
    h2 {
        color: #fff;
        font-family: var(--font-gameover);
    }

    p {
        color: #fff;
        text-align: center;
        font-family: var(--font);
        width: 50%;
    }


}

.container-game .error-emoji {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    color: #ff0000;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none; 
    z-index: 10; 
}

.container-game .error-emoji.hidden {
    opacity: 0;
}

@media screen and (min-width: 700px) {

    .container-gamescreen .box-dashboard {
        width: 100vw;
        height: 150px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid #00aaff90;
        background: linear-gradient(to bottom,#00ccff25, #00aaff7c );
        gap: 80px;

    }

    .container-gamescreen .box-dashboard div span:nth-child(1) {
        width: 100%;
        text-align: center;
        font-size: 3em;
        color:  #fff;
        filter: drop-shadow(2px 2px 1px #02418d);
        text-align: center;
    }
    
    
    .container-gamescreen .box-dashboard div span:nth-child(2) {
        width: 100px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        font-size: 3em;
        font-weight: 700;
        color: #fff04d;
        text-shadow: 2px 2px 5px #984200;
        font-family: var(--font);
    
    }

    .container-gamescreen .container-game {
        width: 100vw;
        height: calc(100vh - 120px);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 20px;
        box-sizing: border-box;
    }

    .container-gamescreen .container-game .box-game.grid-cols-2 {
        grid-template-columns: repeat(2, 0fr);
        height: calc(100vh - 300px);
    }

    .container-gamescreen .container-game .box-game.grid-cols-4 {
        grid-template-columns: repeat(4, 0fr);
    }

    .container-gamescreen .container-game .box-game .card {
        height: 100px;
    }

    .container-gamescreen .container-game .box-game .card .card-front {
        background: url(../../assets/img/memory-game.png) no-repeat center;
        background-size: contain;
        color: #333;
        z-index: 2; 
    }
    
    .container-gamescreen .container-game .box-game .card .card-back {
        background-color: #4CAF50;
        color: #fff;
        transform: rotateY(180deg); 
        z-index: 1;
    }

    .container-gamescreen .container-game .box-game .card.matched .card-inner {
        transform: rotateY(180deg); 
        opacity: 0.7;
        height: 50px;
    }

    .container-game .game-over-message {

        width: 100vw;
        height: calc(100vh - 300px); 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding: 20px; 
        box-sizing: border-box;
        
        h2 {
            color: #fff;
            font-family: var(--font-gameover);
            font-size: 3em;
        }
    
        p {
            color: #fff;
            text-align: center;
            font-family: var(--font);
            font-size: 2em;
        }
    
    
    }
    
}